.form{
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.input_wrap{
  width: 100%;
  position: relative;
}

.input{
  width: 100%;
  padding: 10rem;
  border: 2rem solid var(--c-darck);
  border-radius: 10px;
}

.error{
  color: red;
  position: absolute;
  top: 12rem;
  right: 12rem;
}

.btn{
  border: none;
  align-self: center;
  padding: 10rem;
  background: var(--c-darck);
  color: #fff;
}