:root{
  --c-darck: #362085;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16rem;
}

html{
  font-size: calc(100vw / 1200);
}

body{
  background: #9aafc7;
}

button{
  cursor: pointer;
  background: none;
  border: none;
}

.container{
  max-width: 500rem;
  margin: 50rem auto;
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

@media (max-width: 576px) {
  html{
    font-size: calc(100vw / 576);
  }
}